@font-face {
    font-family: "Boston SemiBold";
    src: url("../fonts/Boston\ SemiBold.ttf");
}

html,body{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #2B2D5C;
    font-family: "Boston SemiBold";
}

body{
    display: flex;
    flex-direction: column;
}

.content{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 75%;
}

.image{
    width: 180px;
    border-radius: 50%;
    border: 1px solid black;
    margin-top: 3%;
    height: 180px;
    background-image: url("../assets/image.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.title{
    width: 100%;
    height: 10%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    color: white;
    font-size: 2.2rem;
}

.singer{
    width: 100%;
    height: 8%;
    color: #6668A1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.45rem;
}

.svgs{
    width: 100%;
    height: 20%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.time{
    height: 14%;
    width: 60%;
    display: flex;
    align-items: baseline;
}

.minutes{
    width: 60%;
    height: 7%;
    display: flex;
    flex-direction: row;
}

.first{
    width: 50%;
    color: #6668A1;
    display: flex;
    align-items: center;
    font-size: 1.2rem;
}

.last{
    width: 50%;
    color: #6668A1;
    display: flex;
    align-items: center;
    font-size: 1.2rem;
    justify-content: flex-end;
}

.seek{
    width: 100%;
    height: 4px;
    background:#6668A1;
    margin-top: 8%;
  }

.fill{
    width: 0%;
    height: 4px;
    background:#f5ae3e;
  }

.waves{
    bottom: 0;
    position: fixed;
}

.btn2{
    width: 30px;
    margin: 30px;
}

.pause{
    display: none;
    width: 70px;
}

.btn2:hover{
    opacity: 0.7;
}

.btn1:hover{
    opacity: 0.7;
}

.pause:hover{
    opacity: 0.7;
}

.btn1{
    width: 70px;
}